body,ul,li,p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.fl{
    float: left;
}
.clearfix:before,.clearfix:after{content: '';display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom:1;}


#main{
    display: none;
    /*font-family: cursive;*/
    margin: 4px auto;
    width: 1010px;
    /*height: 400px;*/
    position: relative;
    /*overflow-y: auto;*/
    box-shadow: 2px 2px 14px #ccc;
}
.name{
    width: 100px;
}
.name ul{
    border-top: 1px solid #999;
    border-left: 1px solid #999;
}
.name li:nth-child(1){
    background: lightgreen;
    font-family: "微软雅黑", "黑体","宋体";
    font-size: 16px;
}
.name li{
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    line-height: 29px;
    height: 29px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}
.dataView{
    width: 910px;
    overflow: hidden;
    position: relative;

}
#main .btn{
    position: absolute;
    background: #000;
    z-index: 500;
    opacity: 0;
    width: 25px;
    height: 60px;
    border-radius: 15px;
    margin-top: -30px;
    top: 50%;
    cursor: pointer;
    transition:all 0.3s;
    -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    -ms-transition:opacity 0.3s;
    -o-transition:opacity 0.3s;
}
#main .btn:active{
    border: 1px solid #0ff;
    width: 23px;
    height: 58px;
}
#main .leftBtn{
    left: 102px;
}
#main .rightBtn{
    left: 982px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}
.dataView ul{
    border-top: 1px solid #999;
    /*border-left: 1px solid #333;*/
}
.dataView li{
    height: 30px;
}
.topFix{
    position: absolute;
    width: 1009px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    background: lightgreen;
    z-index: 100;
    left: 0;
}
.topFix span:nth-child(1){
    width: 98px;
    background: lightgreen;
}
.topFix span,.dataView span{
    background: #eeeeee;
    display: block;
    float: left;
    width: 129px;
    text-align: center;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    line-height: 29px;
    height: 29px;
    /*cursor: pointer;*/
}
.dataView .list li:nth-child(2) span{
    cursor: pointer;
}
.topFix span{
    background: deepskyblue;
}
.dataView li:nth-child(1) span{
    background: deepskyblue;
}
.dataView li span:nth-child(6),.dataView li span:nth-child(7){
    background: lightblue;
}
.view{
    height: 700px;
    background: #333333;
}
.login{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
.login .content{
    width: 500px;
    height: 200px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -100px;
    text-align: center;
}
.login .content div{
    height: 60px;
    padding-top: 54px;
    text-align: center;
}
.login .content div span{
    width: 55px;
    font-size: 18px;
    display: inline-block;
    height: 20px;

}
.login .content div input{
    font-size: 16px;
    height: 30px;
    display: inline-block;
    width: 140px;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #999;
}
.login .content div input:focus {
    border-color: #3c8dbc;
}
.login .content button{
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #337ab7;
    outline: none;
    border-color:  #337ab7;
    cursor: pointer;
    font-size: 16px;
    color: #fefefe;
    border-radius: 4px;
    box-sizing: content-box;
}
.login .content button:hover{
    background: #286090;
    border-color: #286090;
}
.login .content button:active{
    border-color: #204d74;
}
.fillInfor{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
.fillInfor .cnt{
    position: absolute;
    width: 614px;
    height: 450px;
    top:50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    overflow: hidden;
}
.fillInfor .cnt .wrapper{
    position: absolute;
    width: 614px;
    left: 0;
    top: 0;
}
.fillInfor .cnt .infor_list{
    width: 474px;
    padding: 40px 60px 20px 80px;
}
.fillInfor .cnt .infor_list >div{
    padding-top: 10px;
    height: 45px;
}
.fillInfor .cnt .infor_list >div span:nth-child(1){
    width: 60px;
    display: inline-block;
    /*text-align: center;*/
}
.fillInfor .data{
    width: 250px;
}
.fillInfor .yourName{
    width: 200px;
}
.fillInfor .cnt .infor_list .project{
    height: 50px;
}
.fillInfor .cnt .infor_list .progress{
    height: 52px;
}
.fillInfor .cnt .color span:nth-child(2){
    width: 80px;
    height: 25px;
    display: inline-block;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
}
.fillInfor .cnt .color{
    position: relative;
}
.fillInfor .cnt .color .picker{
    position: absolute;
    left: 194px;
    top: -163px;
    display: none;
}
.fillInfor .cnt .infor_list .describe{
    height: 92px;
}
.fillInfor .cnt .describe textarea{
    width: 300px;
    resize: none;
    display: inline-block;
    line-height: 20px;
    padding: 5px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.fillInfor .cnt .project input{
    width: 305px;
    outline: none;
    line-height: 24px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.fillInfor .cnt .project input:focus,.fillInfor .cnt .describe textarea:focus{
    border-color: #3c8dbc
}
.fillInfor .submit {
    padding-left: 145px;
    position: absolute;
    top: 390px;
}
.fillInfor .submit div{
    width: 80px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}
.fillInfor .submit .yes{
    background: #337ab7;
    margin-right: 150px;

}
.fillInfor .submit .yes:hover{
    background: #286090;
}
.fillInfor .submit .no{
    background: #ccc
}
.fillInfor .tips{
    font-size: 12px;
    color: #d92127;
    display: none;
}
.fillInfor .inforBtn{
    position: absolute;
    padding-top: 10px;
    padding-right: 15px;
    right: 20px;
    top: 0;
}
.fillInfor .inforBtn .button{
    padding-top: 5px;
}
.fillInfor .inforBtn .button > div{
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 16px;
    border-radius: 3px;
    font-size: 26px;
    color: #666;
    cursor: pointer;
}
.fillInfor .inforBtn .add{

    margin-right: 0px;
}
.fillInfor .inforBtn .button>div:hover{
    box-shadow: 1px 1px 5px #666
}
.fillInfor .inforBtn .remove{
    margin-right: 7px;
}
.fillInfor .inforBtn .left {
    padding-top: 9px;
    margin-right: 6px;
    height: 24px;
    line-height: 20px;
    padding-left: 1px;
    width: 19px;
    cursor: pointer;
    border-radius: 3px;
}
.fillInfor .inforBtn .right {
    border-radius: 3px;
    padding-top: 8px;
    height: 24px;
    line-height: 20px;
    padding-left: 2px;
    width: 18px;
    cursor: pointer;
}
.fillInfor .inforBtn .right:hover,.fillInfor .inforBtn .left:hover{
    box-shadow: 1px 1px 5px #666;
}
.fillInfor .inforBtn .left img{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.fillInfor .inforBtn  img{
    width: 16px;
}
.fillInfor .inforBtn .page{
    padding-top: 5px;
    margin-right: 10px;
    color: #666;
}
.fillInfor .inforBtn .page i{
    color: #666;
}
.hover{
    display: none;
    font-size: 12px;
    padding: 10px 0 10px 10px;
    position: fixed;
    z-index: 100;
    width: 160px;
    background: rgba(250,250,250,0.8);
    border-radius: 4px;
    box-shadow: 1px 1px 6px #666;
}
.hover .cn .des{
    width: 120px;
}
.hover .line{
    border-bottom: 1px dashed #000000;
    width: 150px;
    margin: 10px 0;
}
.hover .line:last-child{
    display: none;
}
.block div{
    height: 28px;
    width: 18px;
    border: 1px solid #24cf4c;
    border-radius: 3px;
    margin-right: 2px;
    float: left;
    cursor: pointer;
}
.block span{
    float: left;
    margin-left: 10px;
    line-height: 30px;
    width: 45px;
    text-align: right;
}
i{
    font-style: normal;
}
.dataView .wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 910px;
}